config.php
.DS_Store
.vscode/
ui/ui/compiled
ui/compiled/*.php
ui/cache/*.php
test.php
sms.php
pages/
system/cache/**
install/

!system/cache/index.html
ui/ui_custom/**
!ui/ui_custom/index.html
!ui/themes/README.md
scanLang.php
system/lan/**
!system/lan/index.html
!system/lan/indonesia.json
!system/lan/spanish.json
!system/lan/turkish.json
!system/lan/english.json
!system/lan/country.json
system/uploads/**
!system/uploads/*.default.png
system/uploads/sms/**
!system/uploads/sms/index.html
system/uploads/system/**
!system/uploads/system/index.html
logs.txt
system\last_log_time_1.txt
*.log
backups/
last_backup_date.txt
system/plugin/login.html
xendit/index*.html
iotec/index*.html
selcom/index*.html
upload_log.txt
upload_log.txt
system/execution_log.txt
upload_log.txt
system/last_log_time_2.txt
*.txt
system/plugin/advert.png
system/plugin/logo.png
uganda/index1.html
