@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900");

* {
  font-family: "Poppins", sans-serif;
}
.text-indigo {
  color: indigo;
}

.indigo-border {
  border-color: indigo !important;
}

.image-bg {
  background: url("assets/gonet-header-image.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 330px;
}
@media (max-width: 1023px) {
  .image-bg {
    background-position: left center;
    border-radius: 0 !important;
    background-size: auto;
    height: 330px;
  }
  .bg-white {
    text-align: center;
  }
  .logo {
    width: 7rem !important;
  }

  #alreadyHavePackage {
    margin-top: 620px;
  }
}
.custom-bottom {
  bottom: -47px;
  position: relative;
}
.yellow-strip {
  background: hsl(32.35deg 98.08% 59.22%);
  /* border-radius: 0px 0px 12px 12px; */
  /* padding: 6px 30px 6px 30px; */
  /* color:#fff; */
  position: relative;
  top: 7px;
}
